.link-card-container .slds-card__body {
    padding: 0; 
}

.custom-border {
    border: 1px solid #d8dde6;
    border-radius: 0.25rem;
    padding: 1rem; 
    margin-top: -1px; 
}

.slds-list_vertical a {
    text-decoration: none; 
    color: #0070d2; 
}

.slds-list_vertical a:hover {
    text-decoration: underline;
}